<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Who Paid The Piper?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src=https://icons8.com></script>
	
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<img src="..\images\logo.png"alt="Logo" height="130" width="130" id = "logo">
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="heatmap.html">Heatmap</a>
						<a href="sankey.html">Sankey Diagram</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Who Paid The Piper?</h1>
					</header>

					<div class="flex">

						<div>
							<i class="icon fa-globe"></i></i>
							<h3>Heatmap</h3>
							<p>Our heatmap shows where organisations <br> make political donations.
							 </p>
						</div>

						<div>
							<span class="icon fa-line-chart"></span>
							<h3>Sankey Diagram</h3>
							<p>Our Sankey Diagram shows where <br> political parties get their money, <br>as well as how they spend it</p>
						</div>

						<div>
							<span class="icon fa-laptop"></span>
							<h3>MP Voting Patterns</h3>
							<p>Our website allows you to <br> view any mp's voting patterns</p>
							</div>

					</div>
				</div>
		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>