<!DOCTYPE html>
<html>
    <head>
        <title>Who Paid The Piper?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
    </head>
    <body>
        <header id = "header" class = "notmain">
            <div class="inner">
                <img src="..\images\logo.png"alt="Logo" height="50" width="50" id = "logo">
                <nav id="nav" class = "notmaintext">
                    <a href="/" >Home</a>
                    <a href="/heatmap">Heatmap</a>
                    <a href="/sankey">Sankey Diagram</a>
                    <a href="/pie">Pie charts</a>
                    <a href="/voting">MP Votes</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
    </body>
</html>